.header {
    .container {
        max-width: 1370px;
        width: 100%;
        padding: 0 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: auto;
    }
}

.header__list {
    display: flex;
    align-items: center;
    gap: 48px;
    list-style: none;
    padding: 0;
}

.header__link {
    text-decoration: none;
    font-weight: 400;
    color: #12100cb2;
    font-size: 16px;
    line-height: 24px;

    &:hover {
        color: #12100c;
    }
}

.header__btn {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    padding: 8px 24px;
    color: #f9f9f9;
    background: #12100c;
    border: 1px solid #12100c;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s all linear;

    &:hover {
        background-color: #f9f9f9;
        color: #12100c;
    }
}

@media screen and (max-width: 877px) {
    .Logotip {
        width: 100px;
    }
    .header__list {
        gap: 20px;
    }
}

@media screen and (max-width: 700px) {
    .header__nav {
        display: none;
    }

    .header {
        .container {
            padding: 10px 20px;
        }
    }
}