.developers {
    .container {
        max-width: 1370px;
        width: 100%;
        padding: 100px 50px;
        padding-bottom: 20px;
        margin: auto;
    }
}

.developers__heading {
    font-size: 54px;
    font-weight: 700;
    line-height: 64px;
    text-align: center;
    color: #12100c;
}

.developers__users {
    width: 1000px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.developers__users__user {
    width: 384px;
    padding: 24px;
    border-radius: 15px;
    background-color: #ffffff;
}

.developers__users--text {
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    color: #12100c;
    line-height: 24px;
    margin-top: 0;
}

.developers__users--flex {
    display: flex;
    align-items: center;
    gap: 8px;
}

.developers__right--heading {
    margin: 8px 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    color: #12100c;
}

.developers__right--text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 0;

    .developers__right--span {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
    }
}

.developers__brends {
    margin: 90px 0;

    .developers__brend {
        display: flex;
        align-items: center;
        justify-content: center;

        .developers__brends--img {
            cursor: pointer;
        }
    }
}
@media screen and (max-width: 1250px) {
    .developers {
        .container {
            padding: 100px 20px;
        }
    }
    .developers__heading {
        font-size: 40px;
    }
    .developers__users {
        gap: 10px;
    }

    .developers__users__user {
        width: 350px;
        padding: 20px;
    }
    
    .developers__users--text {
        font-size: 14px;
        line-height: 20px;
    }
    
    .developers__right--heading {
        font-size: 14px;
        line-height: 20px;
    }
    
    .developers__right--text {
        font-size: 14px;
        line-height: 20px;
    
        .developers__right--span {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .developers__brends {
        margin: 70px 0;
        margin-bottom: 0;
    
        .developers__brend {
            .developers__brends--img {
                width: 120px;
            }
        }
    }
}
@media screen and (max-width: 940px) {
    .developers__heading {
        font-size: 33px;
    }
    .developers__users__user {
        width: 270px;
        padding: 15px;
    }
    
    .developers__users--text {
        font-size: 12px;
    }
    
    .developers__right--heading {
        font-size: 12px;
        line-height: 18px;
    }
    
    .developers__right--text {
        font-size: 12px;
        line-height: 18px;
    
        .developers__right--span {
            font-size: 12px;
            line-height: 18px;
        }
    }
    
    .developers__brends {
        margin: 40px 0;
        .developers__brend {
            .developers__brends--img {
                width: 100px;
            }
        }
    }
}
@media screen and (max-width: 800px) {
    .developers__heading {
        font-size: 30px;
    }
    .developers__users {
        flex-direction: column;
        margin: auto;
    }
    .developers__users__user {
        width: 384px;
        padding: 24px;
        margin: auto;
    }
    
    .developers__brends {
        margin: 40px 0;
        .developers__brend {
            .developers__brends--img {
                width: 70px;
            }
        }
    }
}
@media screen and (max-width: 500px) {
    .developers__heading {
        font-size: 21px;
    }
    .developers__users__user {
        width: 100%;
        padding: 17px;
    }
    
    .developers__brends {
        margin: 40px 0;
        display: flex;
        // align-items: flex-start;
        .developers__brend {
            flex-direction: column;
            gap: 17px;
            width: 100%;
            .developers__brends--img {
                width: 100px;
            }
        }
    }
}